@{
    ViewData["Title"] = "Home Page";
}




<div class="IndexDiv">    
    <p><h1 class="text-center text-primary font-weight-bolder">Inventory Management System</h1></p>
    <div class="row m-2">

        <div class="col-6">
            <p><h5>This <pre class="text-primary display-4"> IMS</pre>Developed for <span class="text-danger font-weight-normal">The Department of Communications</span> of Ministry of Interior.</h5></p>
        </div>
        <div class="col-4">
            
            <img src="~/images/pngwing.com (56).png" height="435px" />
        </div>
    </div>
</div>
